<!DOCTYPE html>
<html lang="en">
  <%- include("../parts/head.ejs") %>
  <body>
    <form action="/helloform" method="post">
      <label for="name">Enter name: </label>
      <input id="name" type="text" name="name" />
      <input type="submit" value="OK" />
    </form>
    <%if(typeof user_name !== 'undefined'){ %>
        <% console.log(user_name) %> 
    <h2>hello <%= user_name %></h2>
    <% } %>
  </body>
</html>
