<template id="task_template">
    <div class="task" data-id="0">
        <h3 class="task_title"></h3>
        <p class="task_body"></p>
        <div class="buttons">
            <button class="task_delete">X</button>
            <button class="task_complete">V</button>
        </div>
    </div>
</template>