<form action="/user" method="post">
    <h2>Login</h2>
    <div class="input-field">
        <input
            type="text"
            name="username"
            id="username"
            placeholder="Enter Username"
        />
    </div>
    <% if(typeof errors.email !='undefined')  { %>
    <div><%= errors.email %></div>
    <% } %>
    <div class="input-field">
        <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter Password"
        />
    </div>
    <% if (typeof errors.password != undefined) { %>
    <div><%= errors.password %></div>
    <% } %>
    <input type="submit" value="LogIn" />
</form>
